<p style="font-size:30px; text-align:center; line-height:120%">
<br>
COMS W 4111-02, H02, V02<br>
Introduction to Databases<br>
Fall 2019 Take Home Final Exam
</p>

__Please put your UNI, last name, first name and email in the cell below. Double click to edit it. Replace my information with yours.__

__UNI:__ dff9

__Last name:__ Ferguson

__First name:__ Donald

__Email:__ dff9@columbia.edu

<a id='top'></a>

# Table of Contents

- Setup:
    - <a href='#eo'> Exam Overview</a>
    - <a href='#sql'> SQL Magic Test</a>
    - <a href='#python'> Python Helper Code</a>
    - <a href='#neo'> Neo4j Setup</a>
    - <a href='#redis'> Redis Setup</a>
    
- Questions: 
    - <a href='#1'> Question 1: Data Concepts (5pts)</a>
    - <a href='#2'> Question 2: Data Modeling (10pts)</a>
    - <a href='#3'> Question 3: Data Table Concepts (10pts)</a>
    - <a href='#4'> Question 4: Normalization Concepts (5pts)</a>
    - <a href='#5'> Question 5: Relational Algebra (5pts)</a>
    - <a href='#6'> Question 6: Schema Improvement (10pts)</a>
    - <a href='#7'> Question 7: Complex SQL (10pts)</a>
        - <a href='#7.1'> Part 1: View Creation</a>
        - <a href='#7.2'> Part 2: Aggregation </a>
        - <a href='#7.3'> Part 3: Classification</a>
    - <a href='#8'> Question 8: Physical Storage (5pts)</a>
    - <a href='#9'> Question 9: Indexing (5pts)</a>
    - <a href='#10'> Question 10: Query Processing and Optimization (5pts)</a>
    - <a href='#11'> Question 11: Transaction Processing (5pts)</a>
    - <a href='#12'> Question 12: Using Transactions (10pts)</a>
    - <a href='#13'> Question 13: Star Schema (5pts)</a>
    - <a href='#14'> Question 14: Graph Databases (5pts)</a>
    - <a href='#15'> Question 15: Decision Support Schema (5pts)</a>

<a id='eo'></a>

# Exam Overview and Instructions

- Homework assignments and exams have point values. Final grade depends on total point value. The range is 0 to 100 points. __This final exam is worth 30 points.__


- Submission:
    - The exam is due on 14-Dec-2019 at 11:59 PM. __You may not use grace days.__
    - Submission:
        - Submission format is a zip file of this Jupyter Notebook with your solutions entered into the code cells or Markdown cells for each question. If you embed images or diagrams, you need to include in the zip file. 
        - You submit your zip file containing the notebook with answers on CourseWorks under "Final Examination" assignment.
        - No other formats are allowed.
        - If the notebook format is incorrect or the notebook is corrupted, the grade is 0.
        - Submissions after the due date and time are not allowed. Submissions not received on time receive a grade of 0.
        - Your zip file MUST be named your-uni_w4111_f19_final_exam.zip. The name of the notebook file must be your-uni_w4111_f19_final_exam.zip.
    - Respect for the individual is paramount. We will accommodate special circumstances, but we must be notified and discuss __in advance.__
    

- Exam Rules:
    - Please read and review the [Academic Integrity policy and guidelines](https://www.college.columbia.edu/academics/academicintegrity), including subsections and details. This material defines the rules for this exam regardless of your school.
    - __No collaboration of any form is permitted. You may not share material of any form, including links to on-line information, information from the preparatory recitation section, suggestions or ideas, etc. You may not discuss the questions or answers with other students, TAs, friends, ...__
    - You MAY use lecture notes, material in Piazza, and any on-line information you find, but may not directly use code you find. You must cite any on-line sources in the comments Markdown cell for each questions.
    - You must privately send comments or questions to Professor Ferguson via email. If questions or comments demonstrate a need for clarification or correction, Prof. Ferguson will post an update on Piazza and send an email notification.
    - You may not discuss the exam questions or answers on Piazza, except in response to professor or CA posted comments. The CA or professor WILL post clarifying instructions on Piazza.

- Completing the exam:<br><br>
    - Environment:
        - You will need to use MySQL, Neo4j and Redis to complete the final exam.
        - MySQL: You have used in set up the MySQL environment for Jupyter notebooks for the midterm exam and lectures.
            - You will need to use several databases/schemas for the homework. You will need to use lahman2019clean, which you had to install for HW2. You will also need [classicmodels](http://www.mysqltutorial.org/mysql-sample-database.aspx). You need to install both databases, if you have not. You MUST use the schema/database names lahman2019clean and classmodels.
            - You must have a user ID dbuser with password dbuserdbuser and use in any connections you make completing questions.<br><br>
        - Neo4j: You set up Neo4j for homework 4.
            - Please follow the instructions in the previous [recorded makeup lecture](https://cvn.hosted.panopto.com/Panopto/Pages/Viewer.aspx?id=169786d3-c838-4f2c-ada6-ab1800d0e654) for setting up a cloud version of Neo4j.
            - You must have installed the sample movie database. The recorded lecture has instructions.
            - You must install the [Neo4j REST Client](https://docs.graphenedb.com/docs/python#section-neo4j-rest-client). The easiest way to do this is:
                - Go to the ```File``` menu option in the Notebook and select ```Open.``` This will open a new file explorer.
                - On the upper right hand corner, click on ```New``` and choose terminal. This will open a terminal window.
                - In the terminal window, enter ```pip install neo4jrestclient```<br><br>
    - Redis: You set up Redis for homework 4.
        - Please follow the instructions in the [recorded makeup lecture](https://cvn.hosted.panopto.com/Panopto/Pages/Viewer.aspx?id=169786d3-c838-4f2c-ada6-ab1800d0e654) for setting up a cloud version of Redis.
        - You do not need to install or configure any data.
        - The Anaconda environment comes with a Redis client.
        - User IDs and passwords for databases $-$ Please follow the instructions in section 2. Section 2 tests the setup of your environment. <br><br>
    - There is a cell in the setup section where you have to set come global variables for the URLs, user IDs, etc. for your cloud installations.<br><br>
    - Each question starts with an explanation of the structure of the answer, e.g. prose, diagram, SQL, etc.<br><br>
    - Questions requiring SQL or code have empty text cells where you enter your statements. Some also contain sample answers to help you determine if your answer is correct. You must show the execution of your SQL in your submission. You may use LIMIT 10 to reduce the size of results.

You may include diagrams in text/Markdown cells when answering a question. You can include a diagram using an HTML tag of the form:<br><br>

```<img src="./filename.file_extension">```

<br>
The example below between the horizontal lines includes an image. You can click on the cell to see the Markdown code for including the image. <b>You will have to submit a zip file containing the notebook and you image if you include diagrams or images in your submission.</b>
<br><br>

<hr style="height:2px;">

- Double click in between lines to see the Markdown example for including a diagram.
<br><br>
<img src="./Columbia_University_logo.jpg">
<br><br>
<hr style="height:2px;">

<span style="font-size:24px; color:red; line-height:1.2;">Note:</span>

- <span style="color:red;">Each question specific the point value of the question.</span>


- <span style="color:red;">Not all questions with the same point value are equally hard. </span>


- <span style="color:red;">One five point question might be much easier than another five point question.</span>


- <span style="color:red;">A ten point question is not always exactly twice as hard as a five point question.</span>


- <span style="color:red;">Students sometimes complain about the discrepancy in difficulty and value.</span>


- <span style="color:red;">I am sensitive to the concern. I am happy to resolve this complaint by redoing the exam to make all five point questions as hard as the hardest five point question, and all ten point questions as hard as the hardest ten point question.</span>


- <span style="color:red;">Just let me know.</span>

# Environment Test

## MySQL

<a id='sql'></a>

### SQL Magic Plugin

In [2]:
import json
import pandas

In [3]:
%load_ext sql
%sql mysql+pymysql://root:dbuserdbuser@localhost/lahman2019clean

'Connected: root@lahman2019clean'

In [4]:
%sql select * from people where playerid='willite01'

1 rows affected.

[('willite01', '1918', '8', '30', 'USA', 'CA', 'San Diego', '2002', '7', '5', 'USA', 'FL', 'Inverness', 'Ted', 'Williams', 'Theodore Samuel', 205, '75', 'L', 'R', '1939-04-20', '1960-09-28', 'willt103', 'willite01', datetime.datetime(1918, 8, 30, 0, 0), datetime.datetime(2002, 7, 5, 0, 0))]

<a id='python'></a>

### Python Helper Code

In [ ]:
import pymysql
import logging
import json

default_db_host="localhost"
default_db_user="dbuser"
default_db_password="dbuserdbuser"

def get_new_connection(host, user, password):
    result_conn = pymysql.connect(
        host=host,
        user=user,
        password=password,
        cursorclass=pymysql.cursors.DictCursor,
        autocommit=False)
    return result_conn


midterm_conn = get_new_connection(default_db_host, default_db_user, default_db_password)

In [ ]:
def tx_commit(conn):
    conn.commit()
    
def tx_rollback(conn):
    conn.rollback()
    
def conn_close(conn):
    conn.close()

def run_q(sql, args=None, fetch=True, cur=None, conn=midterm_conn, commit=True, debug=False):
    '''
    Helper function to run an SQL statement.

    This is a modification that better supports HW1. An RDBDataTable MUST have a connection specified by
    the connection information. This means that this implementation of run_q MUST NOT try to obtain
    a defailt connection.

    :param sql: SQL template with placeholders for parameters. Cannot be NULL.
    :param args: Values to pass with statement. May be null.
    :param fetch: Execute a fetch and return data if TRUE.
    :param conn: The database connection to use. 
    :param cur: The cursor to use. 
    :param commit: Commit after completing transaction.
    :param debug: If true, print some debugging messages.

    :return: A pair of the form (execute response, fetched data). There will only be fetched data if
        the fetch parameter is True. 'execute response' is the return from the connection.execute, which
        is typically the number of rows effected.
    '''

    cursor_created = False
    connection_created = False

    try:

        if conn is None:
            connection_created = True
            conn = get_new_connection(default_db_host, default_db_user, default_db_password)
            cursor_created = True
            cur = conn.cursor()

        if cur is None:
            cursor_created = True
            cur = conn.cursor()

        if args is not None:
            log_message = cur.mogrify(sql, args)
        else:
            log_message = sql

        if debug:
            print("Executing SQL = " + log_message)

        res = cur.execute(sql, args)

        if fetch:
            data = cur.fetchall()
        else:
            data = None

        # Do not ask.
        if commit == True:
            conn.commit()
            
        if cursor_created:
            cur.close()
        if connection_created:
            conn.close()

    except Exception as e:
        if commit == True:
            conn.rollback()
        if cursor_created:
            cur.close()
        if connection_created:
            conn.close()
        raise(e)

    return (res, data)

In [ ]:
q = "select playerID, nameLast, nameFirst from lahman2019clean.people where nameLast=%s and birthCity=%s"
res,d = run_q(q, args=('Williams', 'San Diego'), debug=True)

print("Data = ", json.dumps(d, indent=2))

<a id='neo'></a>

## Neo4j

- Set your Neo4j variables here.

In [ ]:
neo4j_host = "https://hobby-goabopedajfpgbkekbmjledl.dbs.graphenedb.com:24780/db/data/"
neo4j_user = "dff"
neo4j_password = "b.gbtWqr0pUhGH.pXp6S2jMfYf252w1"

In [ ]:
import neo4jrestclient
from neo4jrestclient.client import GraphDatabase

import urllib3
urllib3.disable_warnings(urllib3.exceptions.InsecureRequestWarning)

neo4jrestclient.options.VERIFY_SSL = False 



gdb = GraphDatabase(neo4j_host, username = neo4j_user, password = neo4j_password)

In [ ]:
def get_stuff(d):
    result = {}
    result['id'] = d['metadata']['id']
    result['labels'] = d['metadata'].get('labels', None)
    result['properties'] = d['data']
    return result

__Testing Getting Tom Hanks__

In [ ]:
result = gdb.query("MATCH (n:Person) where n.name='Tom Hanks' return n")
for record in result:
    n = get_stuff(record[0])
    print("N = ", json.dumps(n, indent=2))

__Testing a More Complex Thing__

In [ ]:
result = gdb.query("MATCH (n:Person)-[r:ACTED_IN]->(m:Movie) where n.name='Tom Hanks' return n,r,m")
for record in result:
    actor = get_stuff(record[0])
    rel = get_stuff(record[1])
    movie = get_stuff(record[2])
    print("\tActor = ", json.dumps(actor))
    print("\tRelationship = ", json.dumps(rel))
    print("\tMovie = ", json.dumps(movie))
    print("")

__Testing Some Cooler Stuff__

In [ ]:
q =  """MATCH (n:Person)-[r:ACTED_IN]->(m:Movie) where n.name='Tom Hanks'
        return n.name,r.roles,m.title,m.released"""
result = gdb.query(q)
   
df = pandas.DataFrame(result, columns=["Name", "Roles", "Title", "Released"])    

df

<a id='redis'></a>

## Redis

- Set your Redis configuration's values here.

In [ ]:
redis_host = "SG-W4111-28452.servers.mongodirector.com"
redis_password = "FLGnHvHVnaG9Erq6tWOH1R92ip94608F"

In [ ]:
import redis

rd = redis.Redis(host=redis_host, password=redis_password)

data = json.dumps(list(result))
key = "Tom Hanks:ACTED_IN"
res = rd.set(key, data)

- Your keys will differ based on prior tests. Just make sure you have the ```b'Tom Hanks:ACTED_IN'``` key.

In [ ]:
result = rd.keys("*")
print("Result = ", result)

In [ ]:
roles = rd.get(key)
print("Raw answer = ", roles)
roles = json.loads(roles)
roles = pandas.DataFrame(roles, columns=["Name", "Roles", "Title", "Released"])

In [ ]:
roles

<a id='1'></a>

# Exam Questions

<span style="font-size:18px;"><u>Q1: Data Concepts (5 points)</u></span>
    
Provide a two or three sentence definition of each of the following concepts, and provide an example.

1. Structured data
<br><br>
2. Semi-structured data
<br><br>
3. Unstructured data
<br><br>
4. Metadata
<br><br>
5. BLOB

Answer:

<a id='2'></a>

<span style="font-size:18px;"><u>Q2: Data Modeling (10 points)</u></span>

- A university has the following entities representing people.:
    1. Person
        - ```UNI```
        - ```last_name```
        - ```first_name```
        - ```email```
    2. Employee _isA_ Person
        - ```pay_grade``` is a fixed set of values: ```e1, e2, e3, e4, o1, o2```
        - ```hire_date,``` which is automatically set when an entity is created.
    3. Faculty _isA_ Employee
        - ```title``` is one of ```Adjunct Professor, Assistant Professor, Associate Professor, Professor.```
        - A professor is a member of at least one but possibly several departments. One department is ```primary,``` and other departments would be ```secondary.```
    4. Staff _isA_ Employee
        - ```job name``` is a fixed list of job names, but it is possible to add, change or delete the set of job titles without modifying the database schema.
        - ```time_in_pay_grade```
    5. Student _isA_ Person
        - ```major```
        - ```enrollment_year```
        - ```graduation_year```
        
        
- The university has the following entities representing the structure:
    - A ```School``` has a name and a ```dean.``` A ```dean``` is ```Staff```
    - A ```Department``` has a name, ```chair``` who is a ```Faculty``` and is "in" one or more ```School.```
    - A ```Major``` has ```code``` and ```name``` and is offered by one or more schools.
    
    
- Model a _Crow's Foot_ notation diagram defining a physical data model representing the information. This should not be hand-written, you may use SQL or powerpoint or any other software you find online


- __Note:__ Like most design problems, there is no single correct answer. You can provide brief explanations about any design choices you make.

Answer:

<a id='3'></a>

<span style="font-size:18px;"><u>Q3: Data Table Concepts (10 points)</u></span>

- Run the following code to see a course listing page. It just loads a web page in an iframe and does NOT need to be changed

In [ ]:
import IPython
url = 'https://www.cc-seas.columbia.edu/sites/dsa/files/handbooks/Columbia%20Key%20to%20Course%20Listing.pdf'
iframe = '<iframe src=' + url + ' width=700 height=1000></iframe>'
IPython.display.HTML(iframe)

- The page above explains the meaning of the fields in a course/section.


- Define one or more tables in SQL DDL to represent and store the information.


- Your design and DDL should include keys (primary and/or foreign keys), constraints, types, etc. 


Answer: Put DDL (create table statements) below. You do not need to execute the DDL.

<a id='4'></a>

<span style="font-size:18px;"><u>Q4: Normalization Concepts (5 points)</u></span>

Briefly explain the following concepts. Three or four sentences is sufficient for each concept.
1. Functional dependency.
<br><br>
2. Data redundancy and update anomaly.
<br><br>
3. Decomposition
<br><br>
5. BCNF
<br><br>
5. First Normal Form and atomic domain


Answer:

<a id='5'></a>

<span style="font-size:18px;"><u>Q5: Relational Algebra (5 points)</u></span>

| <img src="./big_bank.png"> |
| :---: |
| __Bank Relation Schema__ |

- Use the __Bank Relational Schema__ above for this question.


- Give an expression in the relational algebra that answers the following questions.


1. Find each loan number with an amount greater than \$10000.
<br><br>
2. Find the ID of each depositor who has an account with balance greater than \$6000
<br><br>
3. Find the ID of each depositor who has an account with balance greater than \$6000 and has an account in the branch named "Uptown."
4. Define a key for _branch._
<br><br>
5. Write an expression that returns a table of the form:
```
portfolio(customer_id, customer_name, thing_number, thing_amount)
```
A "thing" is either a load or account. And "thing amount" is the balance if an account and the amount if a loan.

Answer:

<a id='6'></a>

<span style="font-size:18px;"><u>Q6: Schema Improvement (10 points)</u></span>

- The following is a modified table definition for a business customer from the [Northwind sample databases.]

```
CREATE TABLE `customers` (
  `CustomerID` varchar(5) NOT NULL,
  `CompanyName` varchar(40) NOT NULL,
  `ContactName` varchar(30) DEFAULT NULL,
  `ContactTitle` varchar(30) DEFAULT NULL,
  `Address` varchar(60) DEFAULT NULL,
  `City` varchar(15) DEFAULT NULL,
  `Region` varchar(15) DEFAULT NULL,
  `PostalCode` varchar(10) DEFAULT NULL,
  `Country` varchar(15) DEFAULT NULL,
  `Phone` varchar(24) DEFAULT NULL,
  `Fax` varchar(24) DEFAULT NULL
) ENGINE=MyISAM DEFAULT CHARSET=utf8;

```

- This is a sample query of some of the data.

In [5]:
%sql select * from northwind.customers limit 20;

20 rows affected.

[('ALFKI', 'Alfreds Futterkiste', 'Maria Anders', 'Sales Representative', 'Obere Str. 57', 'Berlin', None, '12209', 'Germany', '030-0074321', '030-0076545'),
 ('ANATR', 'Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Owner', 'Avda. de la Constitución 2222', 'México D.F.', None, '05021', 'Mexico', '(5) 555-4729', '(5) 555-3745'),
 ('ANTON', 'Antonio Moreno Taquería', 'Antonio Moreno', 'Owner', 'Mataderos  2312', 'México D.F.', None, '05023', 'Mexico', '(5) 555-3932', None),
 ('AROUT', 'Around the Horn', 'Thomas Hardy', 'Sales Representative', '120 Hanover Sq.', 'London', None, 'WA1 1DP', 'UK', '(171) 555-7788', '(171) 555-6750'),
 ('BERGS', 'Berglunds snabbköp', 'Christina Berglund', 'Order Administrator', 'Berguvsvägen  8', 'Luleå', None, 'S-958 22', 'Sweden', '0921-12 34 65', '0921-12 34 67'),
 ('BLAUS', 'Blauer See Delikatessen', 'Hanna Moos', 'Sales Representative', 'Forsterstr. 57', 'Mannheim', None, '68306', 'Germany', '0621-08460', '0621-08924'),
 ('BLONP', 'Blondel père et fils', 'Frédérique Citeaux', 'Marketing Manager', '24, place Kléber', 'Strasbourg', None, '67000', 'France', '88.60.15.31', '88.60.15.32'),
 ('BOLID', 'Bólido Comidas preparadas', 'Martín Sommer', 'Owner', 'C/ Araquil, 67', 'Madrid', None, '28023', 'Spain', '(91) 555 22 82', '(91) 555 91 99'),
 ('BONAP', "Bon app'", 'Laurence Lebihan', 'Owner', '12, rue des Bouchers', 'Marseille', None, '13008', 'France', '91.24.45.40', '91.24.45.41'),
 ('BOTTM', 'Bottom-Dollar Markets', 'Elizabeth Lincoln', 'Accounting Manager', '23 Tsawassen Blvd.', 'Tsawassen', 'BC', 'T2F 8M4', 'Canada', '(604) 555-4729', '(604) 555-3745'),
 ('BSBEV', "B's Beverages", 'Victoria Ashworth', 'Sales Representative', 'Fauntleroy Circus', 'London', None, 'EC2 5NT', 'UK', '(171) 555-1212', None),
 ('CACTU', 'Cactus Comidas para llevar', 'Patricio Simpson', 'Sales Agent', 'Cerrito 333', 'Buenos Aires', None, '1010', 'Argentina', '(1) 135-5555', '(1) 135-4892'),
 ('CENTC', 'Centro comercial Moctezuma', 'Francisco Chang', 'Marketing Manager', 'Sierras de Granada 9993', 'México D.F.', None, '05022', 'Mexico', '(5) 555-3392', '(5) 555-7293'),
 ('CHOPS', 'Chop-suey Chinese', 'Yang Wang', 'Owner', 'Hauptstr. 29', 'Bern', None, '3012', 'Switzerland', '0452-076545', None),
 ('COMMI', 'Comércio Mineiro', 'Pedro Afonso', 'Sales Associate', 'Av. dos Lusíadas, 23', 'São Paulo', 'SP', '05432-043', 'Brazil', '(11) 555-7647', None),
 ('CONSH', 'Consolidated Holdings', 'Elizabeth Brown', 'Sales Representative', 'Berkeley Gardens\r\n12  Brewery ', 'London', None, 'WX1 6LT', 'UK', '(171) 555-2282', '(171) 555-9199'),
 ('DRACD', 'Drachenblut Delikatessen', 'Sven Ottlieb', 'Order Administrator', 'Walserweg 21', 'Aachen', None, '52066', 'Germany', '0241-039123', '0241-059428'),
 ('DUMON', 'Du monde entier', 'Janine Labrune', 'Owner', '67, rue des Cinquante Otages', 'Nantes', None, '44000', 'France', '40.67.88.88', '40.67.89.89'),
 ('EASTC', 'Eastern Connection', 'Ann Devon', 'Sales Agent', '35 King George', 'London', None, 'WX3 6FW', 'UK', '(171) 555-0297', '(171) 555-3373'),
 ('ERNSH', 'Ernst Handel', 'Roland Mendel', 'Sales Manager', 'Kirchgasse 6', 'Graz', None, '8010', 'Austria', '7675-3425', '7675-3426')]

- If I said there were several "glaring problems" with this schema, you would probably not find me funny.


- Define an improved schema. You may have to define additional tables to decompose the information. You only need to show the ```CREATE TABLE``` statements. You do not need to modify data.


- Guidance:
    - You can assume that it is globally unique, that is a postal code will not occur in two different countries.
    - You do not need to implement check constraints or triggers. You do need to include FK and PK relationships in         the tables that you create
    - You should modify the schema to support multiple contacts per _Customer._
    - Contact title has a fixed set of values, but there is an API to add or change valid titles.
    

- Your answer is a set of ```CREATE TABLE``` statements. You may use MySQL Workbench to define the tables and relationships, and copy the ```CREATE TABLE``` statements below.


- You do not need to execute the statements in the notebook.

Answer:

<a id='7'></a>

<span style="font-size:18px;"><u>Q7: Complex SQL (10 points)</u></span>

Use the schema _Classic Models_

__Part 1__

Produce a view that delivers the following information.

<a id='7.1'></a>

In [6]:
%sql select * from classicmodels.customer_product_totals limit 50;

50 rows affected.

[(103, 'Atelier graphique', 'S18_2870', Decimal('58109.04')),
 (141, 'Euro+ Shopping Channel', 'S18_3232', Decimal('46991.96')),
 (103, 'Atelier graphique', 'S18_3685', Decimal('43855.24')),
 (103, 'Atelier graphique', 'S18_1589', Decimal('37661.52')),
 (124, 'Mini Gifts Distributors Ltd.', 'S12_1108', Decimal('24098.63')),
 (124, 'Mini Gifts Distributors Ltd.', 'S12_3891', Decimal('21811.12')),
 (103, 'Atelier graphique', 'S24_1628', Decimal('21635.00')),
 (141, 'Euro+ Shopping Channel', 'S24_3856', Decimal('21047.69')),
 (124, 'Mini Gifts Distributors Ltd.', 'S18_2238', Decimal('18780.28')),
 (141, 'Euro+ Shopping Channel', 'S12_4473', Decimal('18716.37')),
 (141, 'Euro+ Shopping Channel', 'S18_2238', Decimal('18049.63')),
 (141, 'Euro+ Shopping Channel', 'S18_3140', Decimal('17789.18')),
 (141, 'Euro+ Shopping Channel', 'S18_2319', Decimal('17711.48')),
 (141, 'Euro+ Shopping Channel', 'S18_4027', Decimal('17336.44')),
 (141, 'Euro+ Shopping Channel', 'S24_4048', Decimal('17076.39')),
 (124, 'Mini Gifts Distributors Ltd.', 'S10_1949', Decimal('16664.00')),
 (124, 'Mini Gifts Distributors Ltd.', 'S18_2795', Decimal('16648.85')),
 (114, 'Australian Collectors, Co.', 'S10_4698', Decimal('16604.51')),
 (141, 'Euro+ Shopping Channel', 'S24_3432', Decimal('16486.36')),
 (141, 'Euro+ Shopping Channel', 'S24_2300', Decimal('16378.75')),
 (141, 'Euro+ Shopping Channel', 'S12_3148', Decimal('16229.17')),
 (124, 'Mini Gifts Distributors Ltd.', 'S24_2300', Decimal('15728.32')),
 (124, 'Mini Gifts Distributors Ltd.', 'S18_3140', Decimal('15666.79')),
 (323, 'Down Under Souveniers, Inc', 'S12_1099', Decimal('15345.76')),
 (141, 'Euro+ Shopping Channel', 'S24_2887', Decimal('15038.45')),
 (141, 'Euro+ Shopping Channel', 'S50_1392', Decimal('14997.99')),
 (124, 'Mini Gifts Distributors Ltd.', 'S12_4473', Decimal('14950.30')),
 (141, 'Euro+ Shopping Channel', 'S18_2795', Decimal('14926.19')),
 (124, 'Mini Gifts Distributors Ltd.', 'S18_1749', Decimal('14048.80')),
 (148, 'Dragon Souveniers, Ltd.', 'S12_1108', Decimal('13851.97')),
 (124, 'Mini Gifts Distributors Ltd.', 'S12_3148', Decimal('13837.52')),
 (141, 'Euro+ Shopping Channel', 'S18_3685', Decimal('13803.33')),
 (141, 'Euro+ Shopping Channel', 'S18_3482', Decimal('13117.30')),
 (141, 'Euro+ Shopping Channel', 'S18_2870', Decimal('12929.40')),
 (385, 'Cruz & Sons Co.', 'S18_4721', Decimal('12850.28')),
 (124, 'Mini Gifts Distributors Ltd.', 'S10_4962', Decimal('12788.56')),
 (141, 'Euro+ Shopping Channel', 'S24_2766', Decimal('12694.31')),
 (124, 'Mini Gifts Distributors Ltd.', 'S18_3482', Decimal('12626.38')),
 (124, 'Mini Gifts Distributors Ltd.', 'S24_3856', Decimal('12600.86')),
 (124, 'Mini Gifts Distributors Ltd.', 'S18_1097', Decimal('12589.50')),
 (124, 'Mini Gifts Distributors Ltd.', 'S18_4600', Decimal('12350.36')),
 (124, 'Mini Gifts Distributors Ltd.', 'S50_1392', Decimal('12209.30')),
 (486, 'Motor Mint Distributors Inc.', 'S18_3232', Decimal('11972.20')),
 (124, 'Mini Gifts Distributors Ltd.', 'S18_3320', Decimal('11955.87')),
 (298, 'Vida Sport, Ltd', 'S18_3232', Decimal('11928.63')),
 (141, 'Euro+ Shopping Channel', 'S18_1589', Decimal('11774.32')),
 (141, 'Euro+ Shopping Channel', 'S18_3259', Decimal('11768.07')),
 (151, 'Muscle Machine Inc', 'S18_2238', Decimal('11749.55')),
 (201, 'UK Collectables, Ltd.', 'S10_4698', Decimal('11503.14')),
 (151, 'Muscle Machine Inc', 'S12_3891', Decimal('11440.12'))]

- The columns are the following:
    - ```customerNumber``` and ```customerName``` come from ```customers.```
    - ```total_sale``` is the total amount of money spent purchasing the product over all orders. 
    - The view does not include information from orders that are not in status ```Cancelled, On Hold, Disputed```
    - The view is ordered by ```total_sale``` descending.
    - The view includes only rows where the total sale is greater than \$5000.

<a id='7.2'></a>

__Part 2__

- Query the view to return:
    - ```product_code```
    - Sum to ```total_sale```
    - Aggregated (sum) by country.
    - Only for customers in ```France, Spain, UK.```


- You may NOT use a JOIN.

A sample answer is:

111 rows affected.

[('S18_2870', Decimal('70757.28'), 'France'),
 ('S18_3685', Decimal('53128.92'), 'France'),
 ('S18_3232', Decimal('46991.96'), 'Spain'),
 ('S18_1589', Decimal('46696.00'), 'France'),
 ('S12_1108', Decimal('28335.71'), 'France'),
 ('S12_2823', Decimal('25035.92'), 'France'),
 ('S18_2238', Decimal('24752.75'), 'Spain'),
 ('S24_2300', Decimal('23662.69'), 'Spain'),
 ('S18_2795', Decimal('23279.19'), 'Spain'),
 ('S18_2319', Decimal('23187.78'), 'Spain'),
 ('S18_3232', Decimal('23174.41'), 'France'),
 ('S24_4048', Decimal('22698.16'), 'Spain'),
 ('S12_3148', Decimal('21980.56'), 'Spain'),
 ('S12_1099', Decimal('21875.54'), 'France'),
 ('S24_1628', Decimal('21635.00'), 'France'),
 ('S24_3856', Decimal('21047.69'), 'Spain'),
 ('S12_4473', Decimal('18716.37'), 'Spain'),
 ('S10_4698', Decimal('18149.84'), 'France'),
 ('S12_1108', Decimal('18090.90'), 'Spain'),
 ('S10_1949', Decimal('18018.46'), 'France'),
 ('S10_1949', Decimal('17889.74'), 'Spain'),
 ('S18_3140', Decimal('17789.18'), 'Spain'),
 ('S18_4027', Decimal('17336.44'), 'Spain'),
 ('S700_3505', Decimal('16606.44'), 'Spain'),
 ('S24_3432', Decimal('16486.36'), 'Spain'),
 ('S18_4721', Decimal('15909.66'), 'France'),
 ('S24_3856', Decimal('15569.50'), 'France'),
 ('S24_2887', Decimal('15038.45'), 'Spain'),
 ('S50_1392', Decimal('14997.99'), 'Spain'),
 ('S12_3891', Decimal('14921.48'), 'France'),
 ('S12_3891', Decimal('14836.71'), 'Spain'),
 ('S700_2824', Decimal('13850.52'), 'Spain'),
 ('S18_1749', Decimal('13846.50'), 'France'),
 ('S18_3685', Decimal('13803.33'), 'Spain'),
 ('S24_4258', Decimal('13605.28'), 'Spain'),
 ('S24_2011', Decimal('13591.74'), 'Spain'),
 ('S18_1749', Decimal('13589.80'), 'UK'),
 ('S18_3482', Decimal('13117.30'), 'Spain'),
 ('S18_2870', Decimal('12929.40'), 'Spain'),
 ('S24_2766', Decimal('12694.31'), 'Spain'),
 ('S50_4713', Decimal('11946.73'), 'France'),
 ('S18_1589', Decimal('11774.32'), 'Spain'),
 ('S24_2300', Decimal('11772.25'), 'France'),
 ('S18_3259', Decimal('11768.07'), 'Spain'),
 ('S10_4698', Decimal('11503.14'), 'UK'),
 ('S12_4675', Decimal('11170.52'), 'France'),
 ('S32_4485', Decimal('10951.32'), 'France'),
 ('S12_1666', Decimal('10343.48'), 'France'),
 ('S24_2011', Decimal('10288.46'), 'UK'),
 ('S24_3191', Decimal('10233.10'), 'Spain'),
 ('S24_1444', Decimal('10123.52'), 'Spain'),
 ('S24_2887', Decimal('9939.80'), 'UK'),
 ('S18_1342', Decimal('9922.80'), 'Spain'),
 ('S18_3482', Decimal('9835.08'), 'France'),
 ('S18_4522', Decimal('9405.64'), 'Spain'),
 ('S18_4721', Decimal('9103.73'), 'Spain'),
 ('S12_4675', Decimal('9060.67'), 'Spain'),
 ('S24_1046', Decimal('8826.35'), 'Spain'),
 ('S32_3207', Decimal('8570.81'), 'Spain'),
 ('S18_2795', Decimal('8395.51'), 'UK'),
 ('S24_2840', Decimal('8187.69'), 'Spain'),
 ('S12_2823', Decimal('8052.00'), 'UK'),
 ('S18_2325', Decimal('7911.37'), 'UK'),
 ('S24_1785', Decimal('7844.30'), 'Spain'),
 ('S700_2824', Decimal('7810.70'), 'France'),
 ('S32_2509', Decimal('7784.46'), 'Spain'),
 ('S50_1514', Decimal('7706.17'), 'Spain'),
 ('S18_2238', Decimal('7541.59'), 'France'),
 ('S32_4485', Decimal('7527.20'), 'Spain'),
 ('S32_1268', Decimal('7363.95'), 'Spain'),
 ('S700_2834', Decimal('7359.92'), 'France'),
 ('S24_3371', Decimal('7025.60'), 'Spain'),
 ('S700_1938', Decimal('6959.21'), 'Spain'),
 ('S18_4409', Decimal('6894.98'), 'UK'),
 ('S24_2766', Decimal('6851.56'), 'UK'),
 ('S700_3962', Decimal('6554.40'), 'Spain'),
 ('S18_3140', Decimal('6490.56'), 'France'),
 ('S24_3432', Decimal('6486.82'), 'UK'),
 ('S24_4278', Decimal('6419.18'), 'Spain'),
 ('S700_2466', Decimal('6354.12'), 'France'),
 ('S18_3029', Decimal('6330.34'), 'Spain'),
 ('S18_4409', Decimal('6276.59'), 'Spain'),
 ('S700_3167', Decimal('6158.40'), 'France'),
 ('S12_3380', Decimal('6124.38'), 'Spain'),
 ('S18_1749', Decimal('6099.60'), 'Spain'),
 ('S12_1666', Decimal('5960.36'), 'Spain'),
 ('S700_1691', Decimal('5958.01'), 'France'),
 ('S10_4757', Decimal('5875.20'), 'France'),
 ('S18_1097', Decimal('5859.00'), 'Spain'),
 ('S72_3212', Decimal('5808.56'), 'Spain'),
 ('S24_1628', Decimal('5704.75'), 'Spain'),
 ('S24_3191', Decimal('5678.64'), 'UK'),
 ('S12_1108', Decimal('5668.66'), 'UK'),
 ('S18_1662', Decimal('5596.50'), 'UK'),
 ('S700_1691', Decimal('5568.24'), 'Spain'),
 ('S18_1984', Decimal('5482.52'), 'Spain'),
 ('S18_2581', Decimal('5458.39'), 'Spain'),
 ('S18_2325', Decimal('5438.58'), 'France'),
 ('S24_4620', Decimal('5419.48'), 'Spain'),
 ('S18_1662', Decimal('5364.66'), 'France'),
 ('S10_2016', Decimal('5352.30'), 'France'),
 ('S10_4757', Decimal('5324.40'), 'Spain'),
 ('S32_1374', Decimal('5320.00'), 'France'),
 ('S32_1374', Decimal('5273.95'), 'Spain'),
 ('S10_1678', Decimal('5268.51'), 'France'),
 ('S18_1129', Decimal('5173.33'), 'France'),
 ('S18_4600', Decimal('5146.00'), 'Spain'),
 ('S700_1138', Decimal('5070.00'), 'Spain'),
 ('S18_4933', Decimal('5061.43'), 'Spain'),
 ('S18_3856', Decimal('5030.88'), 'France'),
 ('S24_1578', Decimal('5028.72'), 'UK')]

Your query and answer:

<a id='7.3'></a>

__Part 3__

- Use ```classicmodels.customer_product_totals```


- We are going to start a marketing campaign for certain European customers, specifically in France, Spain, UK.


- The campaign focuses on products with product codes beginning with ```S32_```, ```S50_``` or ```S700```.


- We want to classify customers as ```Diamond, Gold, Silver``` relative to a product based on their total spend for eligible products.


- You should use a function to classify the customers relative to products

My sample answer is:

25 rows affected.

[(141, 'Euro+ Shopping Channel', 'S50_1392', Decimal('14997.99'), 'Spain', 'Diamond'),
 (141, 'Euro+ Shopping Channel', 'S700_3505', Decimal('10800.45'), 'Spain', 'Diamond'),
 (141, 'Euro+ Shopping Channel', 'S32_3207', Decimal('8570.81'), 'Spain', 'Gold'),
 (172, "La Corne D'abondance, Co.", 'S700_2824', Decimal('7810.70'), 'France', 'Gold'),
 (141, 'Euro+ Shopping Channel', 'S32_2509', Decimal('7784.46'), 'Spain', 'Gold'),
 (141, 'Euro+ Shopping Channel', 'S50_1514', Decimal('7706.17'), 'Spain', 'Gold'),
 (458, 'Corrida Auto Replicas, Ltd', 'S700_2824', Decimal('7573.98'), 'Spain', 'Gold'),
 (141, 'Euro+ Shopping Channel', 'S32_4485', Decimal('7527.20'), 'Spain', 'Gold'),
 (458, 'Corrida Auto Replicas, Ltd', 'S32_1268', Decimal('7363.95'), 'Spain', 'Silver'),
 (119, 'La Rochelle Gifts', 'S700_2834', Decimal('7359.92'), 'France', 'Silver'),
 (141, 'Euro+ Shopping Channel', 'S700_1938', Decimal('6959.21'), 'Spain', 'Silver'),
 (141, 'Euro+ Shopping Channel', 'S700_3962', Decimal('6554.40'), 'Spain', 'Silver'),
 (119, 'La Rochelle Gifts', 'S700_2466', Decimal('6354.12'), 'France', 'Silver'),
 (406, 'Auto Canal+ Petit', 'S50_4713', Decimal('6306.88'), 'France', 'Silver'),
 (141, 'Euro+ Shopping Channel', 'S700_2824', Decimal('6276.54'), 'Spain', 'Silver'),
 (119, 'La Rochelle Gifts', 'S700_3167', Decimal('6158.40'), 'France', 'Silver'),
 (119, 'La Rochelle Gifts', 'S700_1691', Decimal('5958.01'), 'France', 'Silver'),
 (406, 'Auto Canal+ Petit', 'S32_4485', Decimal('5858.92'), 'France', 'Silver'),
 (216, 'Enaco Distributors', 'S700_3505', Decimal('5805.99'), 'Spain', 'Silver'),
 (171, 'Daedalus Designs Imports', 'S50_4713', Decimal('5639.85'), 'France', 'Silver'),
 (141, 'Euro+ Shopping Channel', 'S700_1691', Decimal('5568.24'), 'Spain', 'Silver'),
 (119, 'La Rochelle Gifts', 'S32_1374', Decimal('5320.00'), 'France', 'Silver'),
 (216, 'Enaco Distributors', 'S32_1374', Decimal('5273.95'), 'Spain', 'Silver'),
 (171, 'Daedalus Designs Imports', 'S32_4485', Decimal('5092.40'), 'France', 'Silver'),
 (141, 'Euro+ Shopping Channel', 'S700_1138', Decimal('5070.00'), 'Spain', 'Silver')]

Provide your answer and output:

<a id='8'></a>

<span style="font-size:18px;"><u>Q8: Physical Storage (5 points)</u></span>

Answer each of the questions below using three for four sentences/bullet points:

1. What is the _Elevator Algorithm_ for scheduling block access on disks?
<br><br>
2. What is the _Clock Algorithm_ for page replace in a buffer pool.
<br><br>
3. Give and briefly explain three techniques improving disk block access on a magnetic disk.
<br><br>
4. Explain a possible combined use of table partitioning and disks with different read latency/performance. 
<br><br>
5. What is columnar storage, what are some benefits and for which use cases does it help?

Answer:

<a id='9'></a>

<span style="font-size:18px;"><u>Q9: Indexing (5 points)</u></span>

Briefly answer the following questions.

1. Give three advantages of a B+ Tree index relative to a hash index.
<br><br>
2. What is a covering index? Why use it?
<br><br>
3. What issue does a write intensive workload cause for B+ Tree indexes?
<br><br>
4. VERY briefly describe an LSM Tree.
<br><br>
5. VERY briefly explain index key compression, how it works, its benefits and when it is applicable.

Answer:

<a id='10'></a>

<span style="font-size:18px;"><u>Q10: Query Processing and Optimization (5 points)</u></span>

1. Consider the relational expression below. Is there any equivalent query and if so, what is it? Is there a reason why the query optimizer might choose the equivalent query?

\begin{equation}
\sigma_{salary>50000}(\pi_{id,last\_name, salary}(Employees))
\end{equation}

Answer:

\begin{equation}
\pi_{id,last\_name, salary}(\sigma_{salary>50000}(Employees))
\end{equation}

- There might be an index on $salary.$

2. Consider the query below. Assume that there are independent, individual indexes on each of the columns: ```R.mobile_phone_number, R.home_phone_number, S.mobile_phone_number, S.home_phone_number.``` How might a query optimizer use index selectivity to optimize the query. Is there an index that using would help?

```
SELECT * FROM R JOIN S
    ON (R.mobile_phone_number=S.mobile_phone_number) AND (R.home_phone_number=S.home_phone_number)
```

Answer:

3. The following diagram is a simplified representation of some steps in query processing and optimization. Explaining what is occurring and why in each of the steps. You only need three or four sentences per step.

<img src="./query_processing_steps.png">

Answer:

4. Briefly explain the concepts of _materialization_ and _pipelining_ in query processing.
<br><br>
Answer:

5. Give an example/reason why a query processor may build a hash index for optimizing a _project operation._

Answer:

<a id='11'></a>

<span style="font-size:18px;"><u>Q11: Transaction Processing (5 points)</u></span>

Give a three or four sentence answer to each of the following questions:

1. Define the _phantom phenomenon._ What locking technique can the query engine use to prevent the phenomenon?
<br><br>
2. Explain optimistic concurrent control, and the pros and cons.  
<br>
3. Consider the following two transactions.<br><br>
    - T1: R1(A), W1(A), R1(B), W1(B)
    - T2: R2(A), W2(A), R2(B), W2(B)<br><br>
    and <br><br>
    - the execution schedule: S1: R1(A), W1(A), R2(A), W2(A), R1(B), W1(B), R2(B), W2(B)<br><br>
    - Show the steps for using _conflict serializable_ rules to convert S1 into a serial schedule. Explain each step in one or two sentences.
<br><br>
4. Explain _cascading abort._ What locking technique prevents the problem?
<br><br>
5. Explain the concepts of the concepts of the transaction processing acronyms _ACID_ and _BASE._ 


Answer:

<a id='12'></a>

<span style="font-size:18px;"><u>Q12: Using Transactions (10 points)</u></span>

- Below is a table definition for a banking account.

```
CREATE TABLE `w4111f19final`.`banking_account` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `balance` double NOT NULL,
  `version` varchar(64) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8;
```

- The fields have the following meanings:
    - _id_ is the account number or ID. The field is auto-increment, which means a new ID is created on every INSERT.
    - _balance_ is the account balance.
    - _version_ is a UUID in string format. Every program that updates an account tuple generates a new UUID and updates on the insert along with any other fields the program changes.
    

- Using the Python helper code from the setup section, write and test two programs:
    - $transfer\_pessimistic:$
        - Begins a transaction and sets the isolation level to serializable.
        - Prompts the user for the source account ID.
        - Reads and displays the balance and asks the user if they want to continue.
        - Prompts the user for the target account ID.
        - Reads and displays the balance and asks the user if they want to continue.
        - Prompts the user for the amount to transfer.
        - Performs the transfer.
        - Commits.
    - $transfer\_optimistic:$
        - Prompts the user for the source account ID.
        - Reads and displays the balance and asks the user if they want to continue.
        - Prompts the user for the target account ID.
        - Reads and displays the balance and asks the user if they want to continue.
        - Prompts the user for the amount to transfer.
        - Begins a transaction and sets the isolation level to serializable.
        - Rereads the information.
        - If the version data has not changed, performs the transfer.
        - Commits.
        
        
- Decomposing into smaller functions that the overall programs call simplifies implementation.
 
 Answer:

Tests:

<a id='13'></a>

<span style="font-size:18px;"><u>Q13: Decision Support Schema (5 points)</u></span>

- Use the schema _classicmodels._


- Define a _Star Schema_ for analytics/decision support operations on the data. You ONLY need to define the schema.


- You only need to draw a Crow's Foot notation diagram and add explanatory comments. This can not be hand-written


Answer:

<a id='14'></a>

<span style="font-size:18px;"><u>Q14: Graph Databases (5 points)</u></span>

- We have seen techniques for modeling inheritance  and relationships in the relational model.


- The diagram below is an incomplete relational/UML model diagram.

<img src="./node_model_2.png">


- The model is incomplete because the relationships are missing:
    1. _Faculty_ and _Student_ are both specializations of _Person._
    2. A _Student_ has a _mentor_ (another student) and an _advisor._
    3. A _Faculty_ belongs to/works in a _Department._
    4. A _Department_ offers _Majors._
    5. A _Student_ has a _Major._
    
    
    
- Implement the model using a graph database, Neo4j. Neo4j does not have a DDL. Creating instances of data creates the schema.
    
    
- Using your cloud version of Neo4j, create the following schema and demonstration your answer by:
    - Creating 3 _Students._
    - Creating 3 _Faculty._
    - Creating 3 _Departments._
    - Creating 3 _Majors._
    - Every _Student_ has one _Faculty_ advisor and vice-versa.
    - Every _Student_ has a major, and each _Major_ has a single student.
    - Every _Department_ offers one _Major_ and vice-versa.
    
    
- Demonstrate (and execute) a query that would solve the following question.
    1. There is a new student. You know ```(uni, last_name, first_name, email, major).```
    2. Find a candidate _Student_ mentor by querying for a _Student_ that has the same _Major._
    3. Find a candidate _Advisor_ by querying for a _Faculty_ that teaches in the department that offers the _Major._
    
    

- Your answer should be a screen shows of the result graph model after creating the data, and a screen shots of the results of executing the queries.

Answer:

<a id='15'></a>

<span style="font-size:18px;"><u>Q15: Decision Support Schema and Views (5 points)</u></span>

Read the following sql statments and python helper functions to answer the questions at the end:

<u>Set Up</u>

- The following SQL statements create the Annual Performance Summary view from the midterm exam.


- You may already have the views. If you do not or are unsure if yours are correct,
    - Drop the views you have, if they exist.
    - Run the script below to create the views.

```
CREATE 
    ALGORITHM = UNDEFINED 
    DEFINER = `root`@`localhost` 
    SQL SECURITY DEFINER
VIEW `lahman2019clean`.`batting_summary` AS
    SELECT 
        `lahman2019clean`.`batting`.`playerID` AS `playerid`,
        `lahman2019clean`.`batting`.`teamID` AS `teamid`,
        `lahman2019clean`.`batting`.`yearID` AS `yearid`,
        SUM(`lahman2019clean`.`batting`.`AB`) AS `ab`,
        SUM(`lahman2019clean`.`batting`.`H`) AS `h`,
        SUM(`lahman2019clean`.`batting`.`HR`) AS `hr`,
        SUM(`lahman2019clean`.`batting`.`RBI`) AS `rbi`
    FROM
        `lahman2019clean`.`batting`
    GROUP BY `lahman2019clean`.`batting`.`playerID` , `lahman2019clean`.`batting`.`teamID` , `lahman2019clean`.`batting`.`yearID`
    

CREATE 
    ALGORITHM = UNDEFINED 
    DEFINER = `root`@`localhost` 
    SQL SECURITY DEFINER
VIEW `lahman2019clean`.`fielding_summary` AS
    SELECT 
        `lahman2019clean`.`fielding`.`playerID` AS `playerid`,
        `lahman2019clean`.`fielding`.`teamID` AS `teamid`,
        `lahman2019clean`.`fielding`.`yearID` AS `yearid`,
        SUM(`lahman2019clean`.`fielding`.`PO`) AS `po`,
        SUM(`lahman2019clean`.`fielding`.`A`) AS `a`,
        SUM(`lahman2019clean`.`fielding`.`E`) AS `e`,
        GROUP_CONCAT(`lahman2019clean`.`fielding`.`POS`
            SEPARATOR ',') AS `positions`
    FROM
        `lahman2019clean`.`fielding`
    GROUP BY `lahman2019clean`.`fielding`.`playerID` , `lahman2019clean`.`fielding`.`teamID` , `lahman2019clean`.`fielding`.`yearID`
    
    
CREATE 
    ALGORITHM = UNDEFINED 
    DEFINER = `root`@`localhost` 
    SQL SECURITY DEFINER
VIEW `lahman2019clean`.`appearances_summary` AS
    SELECT 
        `lahman2019clean`.`appearances`.`playerID` AS `playerid`,
        `lahman2019clean`.`appearances`.`teamID` AS `teamid`,
        `lahman2019clean`.`appearances`.`yearID` AS `yearid`,
        `lahman2019clean`.`appearances`.`G_all` AS `G_all`,
        `lahman2019clean`.`appearances`.`GS` AS `GS`
    FROM
        `lahman2019clean`.`appearances`

CREATE 
    ALGORITHM = UNDEFINED 
    DEFINER = `root`@`localhost` 
    SQL SECURITY DEFINER
VIEW `lahman2019clean`.`pitching_summary` AS
    SELECT 
        `lahman2019clean`.`pitching`.`playerID` AS `playerID`,
        `lahman2019clean`.`pitching`.`teamID` AS `teamID`,
        `lahman2019clean`.`pitching`.`yearID` AS `yearID`,
        SUM(`lahman2019clean`.`pitching`.`W`) AS `w`,
        SUM(`lahman2019clean`.`pitching`.`L`) AS `l`,
        SUM(`lahman2019clean`.`pitching`.`G`) AS `g_p`,
        SUM(`lahman2019clean`.`pitching`.`IPouts`) AS `IPouts`
    FROM
        `lahman2019clean`.`pitching`
    GROUP BY `lahman2019clean`.`pitching`.`playerID` , `lahman2019clean`.`pitching`.`teamID` , `lahman2019clean`.`pitching`.`yearID`
    
    
CREATE 
    ALGORITHM = UNDEFINED 
    DEFINER = `root`@`localhost` 
    SQL SECURITY DEFINER
VIEW `lahman2019clean`.`annual_summary` AS
    SELECT 
        `c`.`playerid` AS `playerid`,
        `c`.`teamid` AS `teamid`,
        `c`.`yearid` AS `yearid`,
        `c`.`G_all` AS `G_all`,
        `c`.`GS` AS `GS`,
        `c`.`ab` AS `ab`,
        `c`.`h` AS `h`,
        `c`.`hr` AS `hr`,
        `c`.`rbi` AS `rbi`,
        `c`.`w` AS `w`,
        `c`.`l` AS `l`,
        `c`.`g_p` AS `g_p`,
        `c`.`IPouts` AS `IPouts`,
        `fielding_summary`.`po` AS `po`,
        `fielding_summary`.`a` AS `a`,
        `fielding_summary`.`e` AS `e`,
        `fielding_summary`.`positions` AS `positions`
    FROM
        ((SELECT 
            `a`.`playerid` AS `playerid`,
                `a`.`teamid` AS `teamid`,
                `a`.`yearid` AS `yearid`,
                `a`.`G_all` AS `G_all`,
                `a`.`GS` AS `GS`,
                `a`.`ab` AS `ab`,
                `a`.`h` AS `h`,
                `a`.`hr` AS `hr`,
                `a`.`rbi` AS `rbi`,
                `pitching_summary`.`w` AS `w`,
                `pitching_summary`.`l` AS `l`,
                `pitching_summary`.`g_p` AS `g_p`,
                `pitching_summary`.`IPouts` AS `IPouts`
        FROM
            ((SELECT 
            `appearances_summary`.`playerid` AS `playerid`,
                `appearances_summary`.`teamid` AS `teamid`,
                `appearances_summary`.`yearid` AS `yearid`,
                `appearances_summary`.`G_all` AS `G_all`,
                `appearances_summary`.`GS` AS `GS`,
                `batting_summary`.`ab` AS `ab`,
                `batting_summary`.`h` AS `h`,
                `batting_summary`.`hr` AS `hr`,
                `batting_summary`.`rbi` AS `rbi`
        FROM
            (`lahman2019clean`.`appearances_summary`
        LEFT JOIN `lahman2019clean`.`batting_summary` ON (((`appearances_summary`.`playerid` = `batting_summary`.`playerid`)
            AND (`appearances_summary`.`teamid` = `batting_summary`.`teamid`)
            AND (`appearances_summary`.`yearid` = `batting_summary`.`yearid`))))) `a`
        LEFT JOIN `lahman2019clean`.`pitching_summary` ON (((`a`.`playerid` = `pitching_summary`.`playerID`)
            AND (`a`.`teamid` = `pitching_summary`.`teamID`)
            AND (`a`.`yearid` = `pitching_summary`.`yearID`))))) `c`
        LEFT JOIN `lahman2019clean`.`fielding_summary` ON (((`c`.`playerid` = `fielding_summary`.`playerid`)
            AND (`c`.`teamid` = `fielding_summary`.`teamid`)
            AND (`c`.`yearid` = `fielding_summary`.`yearid`))))
```

- The following SQL statement creates a table that is a copy of the data.

```
create table annual_performance_summary_copy as
	select * from annual_summary;
```


- The following Python function will test the performance of a query.

In [ ]:
import time
from datetime import datetime

def run_and_time_query(q, no_of_tests):
    
    cnx = get_new_connection("localhost", "dbuser", "dbuserdbuser")
    cursor = cnx.cursor()
    
    now = datetime.now()
    dt_string = now.strftime("%d/%m/%Y %H:%M:%S")
    print("Start performance test at ", dt_string)
    print("q = ", q)
    print("No of tests = ", no_of_tests)
    
    start_time = time.time()
    
    for i in range(0, no_of_tests):
        res = cursor.execute(q)
        
    end_time = time.time()
    cnx.commit()
    cnx.close()
    
    now = datetime.now()
    dt_string = now.strftime("%d/%m/%Y %H:%M:%S")
    print("ending performance test at ", dt_string)
    
    print("Elapsed time = ", end_time-start_time)

- Execute the two code cells below.

In [ ]:
q = "select * from lahman2019clean.annual_summary where playerID='willite01'"
test_count = 10

run_and_time_query(q, test_count)

In [ ]:
q = "select * from lahman2019clean.annual_performance_summary_copy where playerID='willite01'"
test_count = 10

run_and_time_query(q, test_count)

<u>Questions:</u>
1. Why is querying  ```lahman2019clean.annual_performance_summary_copy``` so much faster than querying ```lahman2019clean.annual_summary?```
<br><br>
2. If views are so much slower than copy tables, give the primary reason why a database design might choose a view?
<br><br>
3. What are three general reasons/general benefits of using views compared to just executing the SQL on underlying tables.
<br><br>
4. Explain, in two or three sentences, how you handle reflecting changes in the base tables in the data in the copy table.
<br><br>
5. My nephew once told me that he thinks Hank Aaron is the greatest hitter of all time. Is he still my nephew?

Answer:

<a href='#top'> Back to top</a>